LOG_LEVEL="INFO"
PYTHON_ENV="dev"
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT="Ragify"
MONGODB_URI=""
OPENAI_API_KEY=""
QDRANT_COLLECTION_NAME="ragify"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="us-east-2"
AWS_BUCKET_NAME=""
AWS_REGION="us-east-2"
AWS_BUCKET_NAME="aryank1511-ragify"
